.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.mat-card {
    margin-bottom: 1px;
}

.card-clock {
    float: right;
}

.clock-in {
    border-left: 1em solid #008000;
    padding-left: 8px;
}

.clock-selected {
    background: #f0f8ff;
    border-left: 5px solid #008000;
    padding-left: .5em;
    border-radius: 0;
}

.mat-card-subtitle {
    margin-bottom: 0 !important;
}