.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.mat-card {
    margin-bottom: 1px;
}

.card-clock {
    position: absolute;
    right: 25px;
    top: 2em;
}

.clock-in {
    border-left: 1em solid #008000;
    padding-left: 8px;
}

.clock-selected {
    background: #f0f8ff;
    border-left: 1em solid #008000;
    padding-left: 8px;
}

.mat-card-subtitle {
    margin-bottom: 0 !important;
}