/*.mat-grid-tile {
  border-bottom: 1px solid #333;
}*/

/*.mat-grid-tile {
  border: 1px solid #e0e0e0 !important;
}
.mat-card-header {
  width: 90% !important;
}

.list-selected {
  border-left: 5px solid #008000 !important;
  padding-left: .8em !important;
  background: #f0f8ff;
}

.list-wrapper {
  display: block;
  width: 100%;
}

.list-content {
  width: 90%;
}

.mat-radio-group {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.mat-card {
  width: 100%;
}*/

.mat-radio-group {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.grid-list-wrapper {
  padding: 1em;
}

.mat-card {
  width: 100%;
}

.mat-grid-tile {
  border: 1px solid #CCC;
}

.mat-card-selected {
  border-left: 5px solid #008000 !important;
  padding-left: 19px !important;
  background: #f0f8ff;
}

.mat-grid-list {
  margin: 1em;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 599px) { 
  .mat-grid-list {
    margin: 0;
  }

  .mat-grid-tile {
    border: none;
    border-bottom: 1px solid #CCC;
  }

  .mat-card-selected {
    padding-left: 11px !important;
  }
}
