<md-grid-list cols="{{clockColms}}" class="grid-list-wrapper" gutterSize="{{clockGutter}}" rowHeight="100px">
  <md-grid-tile
      *ngFor="let user of users | searchfilter: searchName; let i = index">

    <md-card [class.mat-card-selected]="user.selected">
      <md-card-header>
        <md-card-title>{{user.name}}</md-card-title>
        <md-card-subtitle>{{user.time}}</md-card-subtitle>
      </md-card-header>
    </md-card>

    <md-radio-group *ngIf="!toggleClock">
      <md-radio-button 
       [class.mat-radio-checked]="user.selected" 
       (click)="user.selected = !user.selected"
       value="{{i}}"></md-radio-button>
    </md-radio-group>
  </md-grid-tile>
</md-grid-list>
