<!--<form class="quick-search-form" autocomplete="off">
  <md-input-container class="quick-search-full-width">
    <input name="searchUser" mdInput placeholder="Search" [(ngModel)]="searchUser">
    <md-icon class="quick-search-icon" mdPrefix>search</md-icon>
    <md-icon *ngIf="searchUser.length > 1" (click)="getCountry(searchUser)" class="quick-search-icon clear" mdSuffix>check</md-icon>
  </md-input-container>
</form>

{{country | json}}

<ul>
    <li *ngFor="let c of country; let i = index">
        {{c.borders | json}}
    </li>
</ul>-->
<!--{{errorMessage}}-->
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
<thead>
    <tr><th class="mdl-data-table__cell--non-numeric">Name</th><th>NT</th><th>OT 1.5</th></tr>
</thead>
<tbody>
    <tr><td class="mdl-data-table__cell--non-numeric">Mahesh Parashar</td><td>VI</td><td>A</td></tr>

    <tr><td class="mdl-data-table__cell--non-numeric">Rahul Sharma</td><td>VI</td><td>B</td></tr>
    <tr><td class="mdl-data-table__cell--non-numeric">Mohan Sood</td><td>VI</td><td>A</td></tr>
</tbody>
</table>